# Бинарные файлы сборки
# (Игнорируем всё, что не имеет расширения или заканчивается на бинарные форматы)
1-converter/1-converter
*.exe
*.wasm

# Системные файлы macOS (очень важно для Mac!)
.DS_Store

# Настройки редакторов
.vscode/
.idea/

# Файлы зависимостей Go (если появятся)
vendor/